
<%= form_for @posts.new do |f| %>
  	<p>
      <div class="main_post">
    	   <%= f.label :content %>
    	   <%= f.text_field :content, :required => true %>
  	     <%= f.submit %>
      </div>
<% end %>

<% @posts.each do |post| %>

<form>
<div class="form-group">
 <div class="post" id="post-<%= post.id %>">
      <p><%= post.user.name.capitalize %>: </p>
      <p><%= post.content %></p>
      <% unless @current_user.following.include?(post.user) %>
        <div class="post_text">
      	<%= link_to "Follow: #{post.user.name.capitalize} |", follow_path(post.user.id) %>
        <% if post.user.name == @current_user.name %>
          <%= link_to "Delete Post |", post_destroy_path(post) %>
          <%= link_to "Edit Post", post_edit_path(post) %>
        <% end %>
        </div>
      <% else %>
		    <%= link_to "Unfollow: #{post.user.name.capitalize}", unfollow_path(post.user.id) %>

      <% end %>
 </div>
 </div>

  <% end %>
</div>